/* CSS styles for the body */
body {
    font-family: Georgia, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: navy;
}

/* CSS styles for the header */
header {
    background: pink;
    color: navy;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* CSS styles for the main section */
main {
    padding: 20px;
    text-align: center;
}

/* CSS styles for the footer */
footer {
    background: pink;
    color: navy;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
#gallery {
    text-align:center;
    border: 15px double navy; 
}
#gallery {
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    margin-left: 1em;
}

/* CSS styles for the main section */
main h2 {
    text-align: center;
}

ul li {
    font-size: 17pt;
    color: navy;   
}

/* Color for when the mouse is over the link */

a:visited {
    color: navy;
}

a:hover {
    color: yellow; 
}

/* CSS styles for the img */

section p {
        color: navy;
        text-align: center;
    }
    
section a:link {
        color: black;
        text-decoration: none;
    }
    
section a:visited {
        color: navy;
    }
    
section a:hover {
        color: pink;
    }




