/* CSS styles for the body */
body {
    font-family: Georgia, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

/* CSS styles for the header */
header {
    background: #35424a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* CSS styles for the main section */
main {
    padding: 20px;
}

/* CSS styles for the footer */
footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
#gallery div {
    text-align:center;
    border: 6px dashed #35424a; 
}

/* CSS styles for the main section */
main h2 {
    text-align: center;
}

ul li {
    font-size: 17pt;
    color: #ffffff;   
}

/* Color for when the mouse is over the link */
a:hover {
    color: #ffffff; 
}